.searchResultsContainer {
  position: absolute;
  z-index: 2;
  left: 150px;
  top: calc(50px + 211px + 20px);
  width: 453px;
  max-height: calc(100vh - (50px + 211px + 20px + 50px));
  overflow-y: auto;
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 50px;
  background: var(--Black-0, #fff);
  backdrop-filter: blur(15px);
  margin-left: 0;
  margin-top: 0px;
}

.stationCard {
  display: flex;
  padding: 16px 0px 24px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 0.75px solid var(--Neutral-200, #c0c0c0);
  background: #fff;
}

.stationNameH4 {
  color: var(--secondary-500-main, #272270);
  font-family: "Test Calibre";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.stationLocationP {
  color: var(--neutral-500-main, #353535);
  font-family: "Test Calibre";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.stationOpenNowSpan {
  color: var(--Black-5, #2a2a2a);
  font-family: "Test Calibre";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.filterIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.showResultsIcon {
  width: 16px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 20px;
  aspect-ratio: 4/5;
  cursor: pointer;
}

.XIconForShowResultsModal {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  fill: var(--Neutral-100, #e1e1e1);
  stroke-width: 6px;
  stroke: var(--Neutral-100, #e1e1e1);
  cursor: pointer;
}

.ResultModalTopNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.downArrowLightIcon {
  width: 10.616px;
  height: 6.016px;
  flex-shrink: 0;
  aspect-ratio: 10.62/6.02;
  margin-left: 10px;
  cursor: pointer;
}

.stationServicesDiv {
  display: flex;
  align-items: center;
}

.serviceTagName {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  width: 103px;
  height: 32px;
  color: #ffffff; /* White text color to contrast with the dark background */
  font-family: "Test Calibre";
  background-color: var(--Secondary-700, #1c194c);
  font-size: 14px;
  font-style: normal;
  font-weight: bolder;
  border-radius: 16px;
}

/* Add this to SearchResult.module.css to fix the layout */

.filterOptionsDropdown label {
  display: flex;

  gap: 8px;
  flex-direction: row;
  cursor: pointer;
}

.filterOptionsDropdown input[type="checkbox"] {
  display: inline-block;
  visibility: visible;
  appearance: checkbox;
  width: auto;
  height: auto;
  margin-right: 8px;
}

.serviceTagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
