@font-face {
    font-family: calibre;
    src: url("./assets/fonts/calibre-font-family")
}

:root {
    --primary-font: "calibre", "TestCalibre-Regular";

    --neutral: #353535; 
    --neutral700: #262626;
    --neutral300: #787878;
    --neutral200: #C0C0C0;
    --neutral100: #E1E1E1;
    --neutral900: #161616;

    --primary: #ED560E;
    --primary900: #642406;
    --primary700: #B0400A;
    --primary600: #D84E0D;
    --primary300: #F38E5E;
    --primary100: #F9CBB4;

    --secondary: #272270;
    --secondary700: #1C194C;
    --secondary300: #3931AF;

    --accent: #FFA000;

}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}