/* Navbar container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  background-color: white;
  font-family: Arial;
  font-weight: bold;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

/* Logo */
.logo {
  height: 54px;
  width: 54px;
  margin-right: 20px;
  margin-left: 50px;
  flex-shrink: 0;
}

.forPersonal {
  width: 139px;
  height: 52px;
  flex-shrink: 0;
}

/* Container for Main Navigation Links and Login/Signup (Desktop Default) */
.loginAndNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover {
  background-color: #f57708;
}

.menu-icon:hover {
  color: #f57708;
}

.loginButton {
  background: linear-gradient(90deg, #ed560e 0%, #f57708 45.19%, #ffa000 100%);
  width: 120px;
  height: 49px;
  gap: 12px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin: 15px;
  border: none;
  border-radius: 30px;
  padding: 7px 7px 7px 12px;
  flex-shrink: 0;
  display: block;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: rgb(200, 30, 0);
}

/* Hide the mobile menu icon by default (show on mobile breakpoint) */
.menu-icon {
  display: none; /* Hidden on desktop */
  font-size: 30px;
  cursor: pointer;
  margin: 20px;
  color: white;
  z-index: 100;
}

/* --- Mobile Styles --- */
@media (max-width: 900px) {
  .logo {
    height: 100px;
  }

  /* Show the menu icon on mobile */
  .menu-icon {
    display: block; /* Show the hamburger/- icon */
  }

  /* Style and Hide the Navigation/Login container on mobile by default */
  .loginAndNav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    overflow: hidden; /* Had to add to hide Margin on right side when drop down is open */
  }

  /* Show the Navigation/Login container when the menu is open */
  .loginAndNav.open {
    display: flex; /* Show the menu when open */
  }

  /* Style links within the mobile menu */
  .loginAndNav a {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
  }
}

.NavBarUnderTop {
  display: flex;
  height: 70px;
  padding: 0px 167px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-top: 0.75px solid var(--Neutral-200, #c0c0c0);
  border-bottom: 0.75px solid var(--Neutral-200, #c0c0c0);
  background: #fff;
}

.NavBarUnderTopList {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
  list-style-type: none;
}

.listItemsNav {
  color: #000;
  font-family: "Test Calibre";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-left: 20px;
  cursor: pointer;
}
